<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info user_info_home">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats-home">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Postter</h1>
  
    <h2>Connect with your friends.</h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>