<li>
  <%= gravatar_for user, size: 50 %>
  <div class="users-box">
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      | <span class="delete-link"><%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %></span>
    <% end %>
  </div>
</li>