<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="gravatar_profile"><%= gravatar_for @user %></div>
      <h1><%= @user.name %></h1>
    </section>
     <%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-md-8">
    <section class="stats microposts">
      <%= render 'shared/stats' %>
    </section>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>