<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="gravatar_profile"><%= gravatar_for @user %></div>
      <h1><%= @user.name %></h1>
    </section>
     <%= render 'follow_form' if logged_in? %>
     <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
  </aside>
  <div class="col-md-8">
    <section class="stats follow">
        <%= render 'shared/stats' %>
    </section>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>