<% @user ||= current_user %>
<div>
  <a class="<%= current_path(user_path(@user)) %>" href="<%= user_path(@user) %>">
    <span class="stats-title">micropost</span>
    <strong id="micropost" class="stat">
      <%= @user.microposts.count %>
    </strong>
  </a>
  <a class="<%= current_path(following_user_path(@user)) %>" href="<%= following_user_path(@user) %>">
    <span class="stats-title">following</span>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a class="<%= current_path(followers_user_path(@user)) %>" href="<%= followers_user_path(@user) %>">
    <span class="stats-title">followers</span>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>