@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 51px;
  margin-bottom: 60px;
  background-color: #f3eee8;
  font-family: 'Open Sans', 'Myriad Pro', 'Helvetica', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.btn-primary {
  background-color: #80a8cc;
  border-color: #80a8cc;
  &:hover, &:focus{
    background-color: #6c94b8;
    border-color: #6c94b8;
  }
}

#new_micropost .btn-primary {
  background-color: #6c94b8;
  border-color: #80a8cc;
  border:1px solid #6c94b8 ;
  &:hover, &:focus{
    background-color: #6c94b8;
    border-color: #6c94b8;
    border:1px solid #6c94b8;
    outline: none;
  }
}

.alert {
    margin-bottom: 0px;
    margin-top: 20px;
}

.alert-success {
  background-color: #EDF0BD;
  border-color: #DAE722;
  color: #6C774F;
}

.stats.microposts .current, .stats.follow .current{
  border-bottom: 4px solid #80a8cc !important;
}

.stats.follow .no_current, .stats.microposts .no_current {
   border-bottom: 4px solid transparent !important;
  &:hover {
   border-bottom: 4px solid #C7DEF2 !important;
  }
}

.delete-link a{
  color: #E50620;
  font-weight: 600;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a{
  color: #80a8cc;
  text-decoration: none !important;
  transition: all 0.3s ease;
}


/* header */

.navbar-inverse {
  background-color: #FFFFFF;
  border-color: #f3eee8;
  .navbar-nav > li > a, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    color: #80a8cc;
  }
  .dropdown-menu {
    border: 1px solid #EFEFEF;
    border: 1px solid rgba(228, 228, 228, 0.15);
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #80a8cc;
  color: #fff;
}

.navbar-inverse .navbar-toggle {
  border-color: #80a8cc;
  &:hover,  &:focus {
    background-color: #6c94b8;
  }
}

.navbar-toggle {
  background-color: #80a8cc;
}

@media (max-width: 767px){
  
  .navbar-inverse .navbar-nav .open {
    .dropdown-menu > li > a, .dropdown-menu > li > a:hover {
      color: #A6A6A6;
    }
    .dropdown-menu .divider {
      background-color: #F4EEEE;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: inherit;
      background-color: transparent;
    }
  }
}

.dropdown-menu > li > a {
  color: #A6A6A6;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #f3eee8;
}

#logo {
  float: left;
  margin: 0 10px 0 17px;
  font-size: 1.7em;
  color: #80a8cc;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 600;
  &:hover, &:focus {
    text-decoration: none;
  }
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  margin-top: 45px;
  padding: 20px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.jumbotron {
  background-color: transparent;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  margin-top: 30px;
  section.user_info {
    background-color: #80a8cc;
      h1{
        color: #fff;
        text-align: center;
        font-size: 1.3em;
      }
    }
  section.user_info_home {
    padding: 26px 0 10px 26px;
    span a{
      color: #fff;
      position: relative;
      top: 14px;
      font-weight: 600;
      font-size: 1.2em;
      &:hover, &:focus {
        text-decoration:none;
      }
    }
  }
  section {
    padding: 10px 0 30px 0;
    &:first-child {
      border: 0;
    }
    span {
      display: block;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.gravatar_edit {
  margin-top: 15px;
}
.gravatar_profile{
  margin: 25px auto 15px auto;
  width: 82px;
  img{
    float: none;
  }
}


.stats {
  overflow: auto;
  margin-top: 30px;
  padding: 0;
  background-color: #fff;
  a {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    min-width: 33.334%;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
    color: #515151;
  }
  .stats-title  {
    color: #DFDFDF;
    text-transform: uppercase;
  }
}
.stats-home{
  overflow: auto;
  background-color: #80a8cc;
  .user_avatars {
    clear:both;
  }
  a {
    width: 32%;
    text-align: center;
    border-bottom: 4px solid transparent;
    float: left;
    color: #004684;
    &:hover {
      text-decoration: none;
      -webkit-transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
  }
  strong {
    display: block;
    font-size: 1.4em;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding-left: 12px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #eee;
  padding: 7px;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
    color: #a94442;
  ul {
    color: #a94442;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#new_relationship .btn-primary{
  background-color: #6c94b8;
}

/* Users index */

.users {
  list-style: none;
  background: #fff;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    .users-box {
      position: relative;
      top: 20px;
    }
  }
}

/* microposts */

.microposts, .users.follow {
  list-style: none;
  padding: 0;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #eee;
  margin-top: 28px;
  li {
    padding: 20px 15px;
    color: #eee;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a {
      color: #333;
      font-weight: 600;
      text-shadow: 0px 0.3px;
    }
  }
  .users-box > a {
    color: #333;
    font-weight: 600;
  }
  .content {
    display: block;
    margin-left: 60px;
    color: #5F5F5F;
    img {
      display: block;
      padding: 5px 0;
      max-width: 100%;
    }
  }
  .timestamp {
    color: #ADAEAE;
    font-weight: 300;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}